$colors: (
    'common': (
        'white': #fff,
        'black': #16171a,
        'black-2': #212226,
        'black-3': #1d1e22,
        'black-4': #1c1d20,
        'black-5': #1c1d20,
        'black-6': #0a0f2c,
    ),
    'grey': (
        '1':#F5F7FA,
        '2':#f2edeb,
        '3':#f5f5f8,
    ),
    'text': (
        'body':#727272,
    ),
    'theme': (
        '1': #43b2d4,
        '2': #5a00a3,
        '3': #b8ff3c,
    ),
    'border': (
        '1': #f0f0f0,
        '2': #dfdcdc,
    )
);



$white : #fff;
$black : #020626;
$theme-primary : #336EF9;
$border-primary : #F1F1F9;